{% load static %}
<footer class="footer">
    <div class="footer_container">
        <!-- 1 колонка - логотип и соцсети -->
        <div class="footer_column">
            <div class="footer_logo">Леди</div>
            <div class="footer_description">
                Учебный центр с профессиональным подходом к образованию. Помогаем раскрыть таланты и достичь целей.
            </div>
            <div class="footer_social">
                <a href="#" class="footer_social-link">📘</a>
                <a href="#" class="footer_social-link">📷</a>
                <a href="#" class="footer_social-link">🎥</a>
                <a href="#" class="footer_social-link">📱</a>
            </div>
        </div>
        
        <!-- 2 колонка - меню -->
        <div class="footer_column">
            <h3 class="footer_column-title">О нас</h3>
            <ul class="footer_menu">
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">История</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Команда</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Достижения</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Партнеры</a></li>
            </ul>
        </div>
        
        <!-- 3 колонка - меню -->
        <div class="footer_column">
            <h3 class="footer_column-title">Обучение</h3>
            <ul class="footer_menu">
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Курсы</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Расписание</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Преподаватели</a></li>
                <li class="footer_menu-item"><a href="#" class="footer_menu-link">Стоимость</a></li>
            </ul>
        </div>
        
        <!-- 4 колонка - контакты -->
        <div class="footer_column">
            <h3 class="footer_column-title">Контакты</h3>
            <div class="footer_contact-item">
                <span class="footer_contact-icon">📍</span>
                <span>г. Ростов-на-Дону, ул. 2-я Краснодарская, 15</span>
            </div>
            <div class="footer_contact-item">
                <span class="footer_contact-icon">📞</span>
                <span>+7 (999) 123-45-67</span>
            </div>
            <div class="footer_contact-item">
                <span class="footer_contact-icon">✉️</span>
                <span>info@ledy.center</span>
            </div>
        </div>
    </div>
    
    <div class="footer_bottom">
        <div class="footer_copyright">
            © 2026 Учебный центр Леди. Все права защищены.
        </div>
        <div class="footer_legal">
            <a href="#" class="footer_legal-link">Политика конфиденциальности</a>
            <a href="#" class="footer_legal-link">Пользовательское соглашение</a>
        </div>
    </div>
</footer>